@using EntityDataModel.Models;
@model List<Post>


@foreach (var item in Model)
{
    <ul>
        <li>
            @Html.ActionLink(item.Title,"ViewPost","Post"
        , new { Url = item.Url
        , Date = ((DateTime)item.CreateTime).ToString("dd")
        , Month =((DateTime)item.CreateTime).ToString("MM")
        ,Year = ((DateTime)item.CreateTime).ToString("yyyy")
        ,PostId = item.PostId}
        )
        </li>
    </ul>
}

