@{
    ViewData["Title"] = "Home Page";
}

<div class="row">

    <div class="posttitle">
        <h2 class="pagetitle">About me</h2>
    </div>

</div>
<div class="entry" style="margin-bottom : 18px; font-family : ">
    <br />
    <p> You want to know about me??? Let’s G00gle </p>

    <p>
        <strong>
            <span>
                <strong>
                    <span style="color:royalblue;">
                        Có những con người mới đôi ba tuổi đời…..<br>
                        Cuộc sống mới bắt đầu đã cho rằng mình thấu hết ..<br>
                        Làm được gì ? Và đã có gì ?<br>
                        Chỉ học đòi thói chê bai…. Cần nhìn lại về chính thân mình ….<br>
                        Hình hài chỉ là <span style="color:red;">con số 0</span> ……. Hình hài chỉ là <span style="color:red;">con số 0</span>….. <span style="color:red;">Con số 0</span>..!!!
                    </span>
                </strong>
            </span>
        </strong>
    </p>
</div>


